<ion-header>
  <ion-toolbar>
    <ion-title>Política de Privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>En esta aplicación de creación de hábitos, tu privacidad es nuestra prioridad. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información personal cuando usas nuestra aplicación.</p>

      <h2>Recopilación de Datos</h2>
      <p>Recopilamos información personal que nos proporcionas directamente, como tu nombre, dirección de correo electrónico y preferencias de hábitos. También recopilamos información automáticamente, como el tipo de dispositivo que usas, tu sistema operativo, identificadores únicos de dispositivo y dirección IP.</p>

      <h2>Uso de la Información</h2>
      <p>Utilizamos la información recopilada para:</p>
      <ul>
        <li>Personalizar y mejorar tu experiencia en la aplicación.</li>
        <li>Ayudarte a hacer un seguimiento de tus objetivos de hábitos.</li>
        <li>Responder a tus consultas y proporcionarte soporte técnico.</li>
        <li>Enviarte actualizaciones, noticias y promociones relacionadas con la aplicación.</li>
      </ul>

      <h2>Compartición de Datos</h2>
      <p>No compartimos tu información personal con terceros sin tu consentimiento, salvo en las siguientes circunstancias:</p>
      <ul>
        <li>Con proveedores de servicios que nos ayudan a operar nuestra aplicación y que cumplen con nuestras políticas de privacidad.</li>
        <li>Cuando sea necesario para cumplir con la ley, proteger nuestros derechos, o responder a un proceso legal válido.</li>
      </ul>

      <h2>Protección de Datos</h2>
      <p>Implementamos medidas de seguridad adecuadas para proteger tu información contra accesos no autorizados, alteraciones, divulgaciones o destrucciones. Sin embargo, ten en cuenta que ningún método de transmisión por Internet o almacenamiento electrónico es completamente seguro.</p>

      <h2>Derechos de los Usuarios</h2>
      <p>Tienes derecho a acceder, rectificar o eliminar tu información personal en cualquier momento. Si deseas ejercer estos derechos, por favor, contáctanos a través de los datos proporcionados en la aplicación.</p>

      <h2>Cambios en la Política de Privacidad</h2>
      <p>Podemos actualizar esta Política de Privacidad de vez en cuando para reflejar cambios en nuestras prácticas de información. Te notificaremos sobre cualquier cambio publicando la nueva política en nuestra aplicación.</p>

      <h2>Contacto</h2>
      <p>Si tienes alguna pregunta o inquietud sobre esta Política de Privacidad o nuestras prácticas de privacidad, por favor contáctanos a través de nuestro correo electrónico: Momentumatuapp.com.</p>

      <p>Al utilizar esta aplicación, aceptas los términos de esta Política de Privacidad y consientes la recopilación, uso y compartición de tu información personal según se describe.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
