<ion-header>
  <ion-toolbar>
    <ion-title>Política de Privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Esta aplicación de creación de hábitos recopila información personal, como tu nombre, correo electrónico y preferencias de hábitos. Utilizamos estos datos exclusivamente para personalizar tu experiencia y ayudarte en el seguimiento de tus objetivos.</p>
      <p>Tu información se almacena de forma segura y no se comparte con terceros sin tu consentimiento. Puedes solicitar la eliminación de tus datos en cualquier momento.</p>
      
    </ion-card-content>
  </ion-card>
</ion-content>
