ion-header {
    ion-toolbar {
      --background: #ffc33f;
      --color: #ffffff;
  
      ion-title {
        font-size: 1.5rem;
        font-weight: bold;
      }
  
      ion-buttons {
        ion-button {
          --background: transparent;
          --color: #ffffff;
  
          ion-icon {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  
  ion-content {
    --background: #f9f9f9;
    font-family: 'Arial', sans-serif;
  
    .header {
      margin-top: 80px;
      margin-bottom: 40px;
      text-align: center;
  
      .title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;
  
        .subtitle {
          font-size: 1rem;
          font-weight: 400;
          color: #777;
          margin-top: 10px;
        }
      }
    }
  
    ion-item {
      background: #ffffff;
      border-radius: 12px;
      margin-bottom: 16px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      --padding-start: 12px;
  
      ion-icon {
        color: #ffc33f;
      }
  
      ion-input {
        font-size: 1rem;
        padding: 8px 0;
      }
    }
  
    .input {
      font-size: 1rem;
    }
  
    ion-fab {
      ion-button {
        --background: #ffc33f;
        --background-hover: #ffa500;
        --color: white;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  
        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  
    ion-text {
      font-size: 0.85rem;
      font-weight: 500;
  
      strong {
        color: red;
      }
    }
  
    a {
      cursor: pointer;
      text-decoration: none;
      color: #ffc33f;
  
      &:hover {
        color: #ff9900;
      }
    }
  }
  