<ion-header>
  <ion-toolbar>
    <!-- Botón para volver al login con solo el icono -->
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/sign-in']" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Introduce tu correo
      <p class="subtitle">Para recibir el link de restauración de tu contraseña</p>
    </ion-title>
  </div>

  <div>
    <ion-item>
      <ion-input [(ngModel)]="email" class="input" placeholder="Introduce tu correo"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-fab>
  </div>
</ion-content>
