<ion-header>
  <ion-toolbar>
    <ion-title>Aviso de Privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Tu privacidad es importante para nosotros. Esta aplicación de creación de hábitos recopila datos necesarios para mejorar tu experiencia de usuario. Toda la información es tratada de forma confidencial y no será compartida sin tu consentimiento.</p>
      <p>Al usar esta aplicación, aceptas que procesemos tus datos para proporcionarte una experiencia personalizada y ayudarte en la gestión de tus hábitos.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
